[submodule "sdks/vendor/isaaclab"]
	path = sdks/vendor/isaaclab
	url = git@github.com:isaac-sim/IsaacLab.git
	shallow = true
[submodule "sdks/vendor/isaacsim"]
	path = sdks/vendor/isaacsim
	url = git@github.com:cbirkhold/IsaacSim.git
	shallow = true
